:root {
  --mainGrid: 1fr 1124px 1fr;
  --innerGrid: repeat(24, 1fr);
  --innerGridGap: 8px;

  --serif: "Playfair Display", "Arial", sans-serif;
  --sans: 'Open Sans', "Times New Roman", serif;

  --serif16: 400 16px/21px var(--serif);
  --serif24: 400 24px/32px var(--serif);

  --sans16: 400 16px/22px var(--sans);
  --sans20: 400 20px/27px var(--sans);

  
  --orange: #ffb001;

  --shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}

html, body {
  margin: 0;
  padding: 0;
}